@charset "utf-8";
/* CSS Document */


#headerLiveHolder, #headerLiveTrackHolder {
    overflow: hidden;
	position:relative;
	width:600px!important;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 13px;
	margin: 0;
	padding: 0;
    }
	#headerLiveHolder *, #headerLiveTrackHolder * {
	  margin: 0;
	  padding: 0;
	  }
	#headerLiveHolder ul {
	  list-style-type:none;
	  margin: 0;
	  padding: 0;
	  }
	#headerLiveHolder h4 {
	  font-size:12px;
	  color:#68bd44;
	  text-transform:uppercase;
	  font-weight:normal;
	  line-height:20px;
	  }
	#headerLiveTrackHolder span#status-current-show {
	  font-size:18px;
	  color:#5F7211;
	  text-transform:uppercase;
	  font-weight:normal;
	  line-height:20px;
	  }
	#headerLiveHolder ul li, #headerLiveTrackHolder ul li {
	  overflow:hidden;
	  position:relative;
	  height:18px;
	  font-size:14px;
	  color:#999999;
	  line-height:20px;
	  }
	#headerLiveHolder ul li.current, #headerLiveTrackHolder ul li.current {
	  font-weight:bold;
	  color:#666666;
	  line-height:20px;
	  }
	  #headerLiveHolder ul li span {
		position:absolute;
		right:0px;
		}
	  #headerLiveHolder ul li span#time-elapsed {
		right: 50px;
	  }
	  #headerLiveHolder ul li span#time-elapsed:before {
		content: "e.";
	  }
	  #headerLiveHolder ul li span#time-remaining:before {
		content: "r.";
	  }
	  #headerLiveTrackHolder span.current{
	  font-weight:bold;
	  color:#666666;
	  position:absolute;
		right:10px;
		font-size: 11px;
	  }
	  #headerLiveTrackHolder span#time-elapsed {
		right: 65px;
	  }
	  #headerLiveTrackHolder span#time-elapsed:before {
		content: "e.";
	  }
	  #headerLiveTrackHolder span#time-remaining:before {
		content: "r.";
	  }
	  

#onAirToday {
  width:300px;
  margin-bottom:15px;
  border:1px solid #999999;
  font-family: Arial,Helvetica,sans-serif;
  }
  #onAirToday h3 {
    margin:0;
    padding:0 10px;
    font-size:13px;
    color:#ffffff;
    line-height:28px;
    background: #999999;
    }
  #onAirToday table {
    border-collapse: collapse;
    clear: both;
    padding: 0;
	}
	#onAirToday table tbody {
      color: #000;
	  font-size:12px;
      }
	  #onAirToday table tbody tr {
		height: 30px;
		}
		#onAirToday table tbody tr td {
		  border-bottom: 1px dotted #d9d9d9;
		  height: 30px;
		  padding-left: 10px;
		  font-weight:bold;
		  }
          #onAirToday table tbody tr td a {
			text-decoration:none;
			}
			#onAirToday table tbody tr td a:hover {
			text-decoration:underline;
			}
		  #onAirToday table tbody tr:last-child td {
			border-bottom: none;
			}
		  #onAirToday table tbody tr td.time {
			font-weight:normal;
			color: #666666;
			}	
 